@use '../utils/' as u;
@use '../utils/mixins' as *;

//Header pour le menu
header{
    .header-content{
        .menu{
            display: none;
            .menu-icons{
                color: var(--deepgreen);
                padding: 8px 8px;
                border-radius: 50%;
                background-color: var(--shade-yellow);
            }
            .menu-container{
                position: absolute;
                top: 70px;
                right: 0.5px;
                width: 100%;
                transition: 1s;
                margin-top: -200%;
                background-color: var(--deepgreen);
                @include display-flex;
                ul{
                    width: 100%;
                    li{
                        list-style: none;
                        color: var(--deepgreen);
                        text-align: center;
                        padding: 15px;
                        border-bottom: 1px solid var(--shade-yellow);
                        a{
                            color: var(--white);
                            text-decoration: none;
                            &:hover{
                                color: var(--shade-yellow);
                            }
                        }
                    }
                    .sedeconnecter{
                        width: 100%;
                        padding: 10px;
                    }
                }
            }
        }
    }
}

//Le footer de notre page qui contient deux blocs
footer{
    padding: 15px 25px;
    background-color: var(--deepgreen);
    .footer-item{
        text-align: center;
        color: var(--white);
    }
    .footer-content{
        color: var(--white);
        @include vertical-alignment;
        justify-content: space-between;
        margin: auto;
        div{
            a{
                color: var(--white);
            }
            i{
                border-radius: 50%;
                padding: 10px;
                color: var(--deepgreen);
                background-color: var(--shade-yellow);
            }
        }
    }
    .top{
        @include vertical-alignment;
        gap: 5px;
        -webkit-column-gap: 5px;
        padding: 10px 10px;
        color: var(--white);
        position: fixed;
        right: 0;
        bottom: 60px;
        cursor: pointer;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
        background: linear-gradient(60deg, var(--deepgreen), var(--shade-yellow));
    }
}

//Header Media query de toutes les pages
//--------------------------------------------//
    //---------MEDIA QUERY HEADER----------//
//--------------------------------------------//
@include u.breakpoint(laptop){
    .section-content{
        display: grid;
        grid-template-columns: auto;
    }
    nav{
        display: none;
    }
    header{
        .header-content{
            .header-items{
                display: none;
            }
            .menu{
                display: initial;
                .menu-icons .icon{
                    display: block;
                    cursor: pointer;
                }
                .menu-icons .exit{
                    display: none;
                    cursor: pointer;
                }
                .menu-mobile .icon{
                    display: none;
                }
                .menu-mobile .exit{
                    display: initial;
                }
                .menu-mobile{
                    margin-top: 0;
                }
            }
        }
    }
}

//Footer Media query de toutes les pages
//--------------------------------------------//
    //---------MEDIA QUERY FOOTER----------//
//--------------------------------------------//
@include u.breakpoint(mobile){
    footer{
        .footer-content{
            @include display-column;
            gap: 10px;
            -webkit-column-gap: 10px;
        }
    }
}