@use '../utils/' as u;
@use '../utils/mixins' as *;

//body proprieties
body{
    width: 100%;
    margin: auto;
    font-family: u.$font-Monserat;
    background-color: var(--background);
}

//Header
header{
    .empty-content{
        width: 100%;
        padding: 30px;
        background-color: var(--yellow);
        position: fixed;
        z-index: 10;
    }
    .header-content{
        width: 90%;
        padding: 15px;
        @include vertical-alignment;
        justify-content: space-between;
        position: fixed;
        z-index: 10;
        top: 60px;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: var(--deepgreen);
        .logo{
            gap: 8px;
            -webkit-column-gap: 8px;
            @include vertical-alignment;
            justify-content: none;
            i{
                padding: 10px;
                border-radius: 50%;
                color: var(--deepgreen);
                background-color: var(--yellow);
            }
            h4{
                color: var(--white);
                span{
                    color: var(--yellow);
                }
            }
        }
        .header-items{
            ul{
                @include display-flex;
                gap: 15px;
                -webkit-column-gap: 15px;
                a{
                    color: var(--white);
                    &:hover{
                        color: var(--yellow);
                        transition: 1s;
                    }
                }
                .accueil{
                    color: var(--yellow);
                    border-bottom: 2px solid var(--yellow);
                }
            }
        }
    }
}

//Cette partie contient le nav et les contenus de la section du cote du bureau central, roulage et du chauffeur
.section-content{
    display: grid;
    grid-template-columns: 20% auto;
}
nav{
    height: 100vh;
    padding: 10px 20px;
    margin-top: 100px;
    border-top-right-radius: 15px;
    background-color: var(--deepgreen);
    
    .dashboard{
        margin-top: 10px;
        padding: 10px 20px;
        color: var(--deepgreen);
        text-align: center;
        font-weight: bolder;
        background-color: var(--yellow);
        a{
            color: var(--deepgreen);
            text-decoration: none;
        }
    }
    .profile{
        @extend .dashboard;
        background: none;
        border: 1px solid var(--yellow);
        a{
            color: var(--yellow);
        }
    }
}