@use '../utils/' as u;
@use '../utils/mixins' as *;

//body proprieties
body{
    width: 100%;
    margin: auto;
    font-family: u.$font-Monserat;
    background-color: var(--background);
}

header{
    .empty-content{
        width: 100%;
        padding: 30px;
        background-color: var(--yellow);
    }
    .header-content{
        width: 90%;
        padding: 15px;
        @include display-flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: var(--deepgreen);
        .logo{
            gap: 8px;
            @include display-flex;
            align-items: center;
            justify-content: none;
            -webkit-column-gap: 8px;
            i{
                padding: 10px;
                border-radius: 50%;
                color: var(--deepgreen);
                background-color: var(--yellow);
            }
            h4{
                color: var(--white);
                span{
                    color: var(--yellow);
                }
            }
        }
        .menu{
            display: none;
            .menu-icons{
                color: var(--deepgreen);
                padding: 8px 8px;
                border-radius: 50%;
                background-color: var(--yellow);
            }
            .menu-container{
                position: absolute;
                top: 70px;
                right: 1px;
                width: 100%;
                transition: 1s;
                margin-top: -200%;
                background-color: var(--deepgreen);
                @include display-flex;
                ul{
                    width: 100%;
                    li{
                        list-style: none;
                        color: var(--deepgreen);
                        text-align: center;
                        padding: 15px;
                        border-bottom: 1px solid var(--yellow);
                        a{
                            color: var(--white);
                            text-decoration: none;
                            &:hover{
                                color: var(--yellow);
                            }
                        }
                    }
                }
            }
        }
    }
}