@use '../utils/' as u;
// Base reset

*,
::after, ::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

// Pour tous les liens
a{
    text-decoration: none;
}

//Pour les listes li
li{
    list-style: none;
}

//Les bouttons sur la page d'accueil
.connecter{
    padding: 10px 15px;
    background-color: var(--deepgreen);
    border: 2px solid var(--deepgreen);
    font-family: u.$font-Monserat;
    font-weight: bolder;
    a{
        color: var(--yellow);
    }
    &:hover{
        background-color: var(--yellow);
        border: 2px solid var(--yellow);
        transition: 1s;
        a{
            color: var(--deepgreen);
        }
    }
}
.know-more{
    background: none;
    border: 2px solid var(--yellow);
    @extend .connecter;
}


//Button
button{
    border: none;
    outline: none;
    padding: 8px 12px;
    background-color: var(--yellow);
    a{
        text-decoration: none;
        color: var(--deepgreen);
        font-weight: bolder;
        font-family: u.$font-Monserat;
    }
}