@use '../../utils/' as u;
@use '../../utils/mixins' as *;

.section-content{
    display: grid;
    grid-template-columns: 20% auto;
}
nav{
    height: 100vh;
    padding: 10px 20px;
    border-top-right-radius: 15px;
    background-color: var(--deepgreen);
    
    .dashboard{
        margin-top: 10px;
        padding: 10px 20px;
        color: var(--deepgreen);
        text-align: center;
        font-weight: bolder;
        background-color: var(--yellow);
        a{
            color: var(--deepgreen);
            text-decoration: none;
        }
    }
    .profile{
        @extend .dashboard;
        background: none;
        border: 1px solid var(--yellow);
        a{
            color: var(--yellow);
        }
    }
}
