@use './variables' as u;

//Alignement des elements verticalement
@mixin vertical-alignment{
    display: flex;
    flex-direction: row;
    align-items: center;
} 


//Pour aligner les elements verticalement et horizontalement
@mixin vertical-horizontal-alignement{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

//aligner les elements horizontalement
@mixin display-flex{
    display: flex;
    flex-direction: row;
}

//aligner les elements verticalement
@mixin display-column{
    display: flex;
    flex-direction: column;
}

//Titre de page
@mixin titre-de-page{
    padding: 10px;
    margin-top: 10px;
    text-align: center;
    background-color: var(--neutral-shade);
}

//Pour les inputs
@mixin input-properties{
    border: none;
    outline: none;
    padding: 8px 12px;
    border-radius: 5px;
    font-family: u.$font-Monserat;
    box-shadow: 0px 0px 2px 0px var(--bluish-green);
}

//icons check box
@mixin icon-checkbox{
    padding: 5px 8px;
    border-radius: 4px;
    box-shadow: 0px 0px 2px 0px var(--black);
}

//Pour le placement des div
@mixin placement-div{
    width: 70%;
    margin: auto;
    padding: 20px;
}

//Placement des divs pour le media query
@mixin placement{
    width: 90%;
    padding: 0;
    padding-top: 10px;
    padding-bottom: 10px;
}

@mixin title{
    margin-top: 10px;
    margin-bottom: 10px;
    border-bottom: 3px solid var(--shade-yellow);
}