//Principal colors for the project

:root{
    --shade-yellow : #f8e16c;
    --medium-green : #06a04b;
    --bluish-green : #156064;
    --orange-red : #e75019;
    --pink : #ffc2b4;
    --white : #fff;
    --black : #0000009f;
    --background : #ffffffe3;
    --neutral-shade : #f8f8ed;
    --red-opaque:#fd65652a;
}

//Font 
$font-Monserat : 'Montserrat', sans-serif;