@use '../../utils/' as u;
@use '../../utils/mixins' as *;

@include u.breakpoint(laptop){
    @media screen and (max-width: 900px){
        .section2{
            .salamacontrol{
                .salamacontrol-content{
                    @include placement;
                }
            }
        }
        .fonctionnalite, .contact{
            @include placement;
        }
        .avantages{
            .avantages-items{
                @include placement;
            }
        }
    }
}

@include u.breakpoint(tablet){
    @media screen and (max-width: 650px){
        .fonctionnalite{
            .fontionnalite-content{
                display: grid;
                grid-template-columns: 1fr;
            }
        }
        .suggestion{
            .suggestion-content{
                @include placement;
                padding-bottom: 20px
            }
        }
    }
}

@include u.breakpoint(mobile){
    form{
        .formulaire{
            @include display-column;
            gap: 8px;
            -webkit-column-gap: 8px;
        }
    }
    .avantages{
        .avantages-items{
            .avantages-content{
                display: grid;
                grid-template-columns: 1fr;
            }
        }
    }

    @media screen and (max-width: 380px){
        .cover-page{
            div{
                @include display-column;
                gap: 0;
                -webkit-column-gap: 0;
            }
        }

    }
}